<div class="container">
  <div class="d-flex flex-wrap mt-5">

    {{#each articles}}
      <div class="card me-4 mb-4" style="width: 21.5rem;">
        {{#if images.article}}
          <img src="{{images.article}}" class="card-img-top" alt="Not Found!" />

        {{/if}}
        <div class="card-body">
          <h5 class="card-title">{{displayTitle}}</h5>
          <p class="card-text">{{description}}</p>
          <p class="card-text"> {{toDate createdAt}}</p>
          <p>{{author.displayName}}</p>
          <a href="article/{{_id}}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    {{/each}}
  </div>
</div>